<% if(movieDrama.length > 0) { %>
  <% movieDrama.forEach(movie => { %>
  <div class="card movie-card">

    <% if(!movie.image) { %>
    <div class="card-img--top" style="background-image: url(img/movie/movie_cover.jpg);"></div>

    <% } else { %>
    <div class="card-img--top" style="background-image: url('img/movie/<%= movie.image %>');"></div>

    <% } %>
    <div class="card-body">
      <p class="card-rating">
        <span class="rating"></span>
      </p>
      <h5 class="card-title">
        <a href="/movie?id=<%= movie._id %>"><%= movie.title %></a>
      </h5>
      <a href="/movie?id=<%= movie._id %>" class="btn btn-primary rate-btn">Avaliar</a>
      <a href="/movie?id=<%= movie._id %>" class="btn btn-primary card-btn">Conhecer</a>
    </div>
  </div>
  <% }) %>
<% } else { %>
  <p class="empty-list">Ainda hรก filmes cadastrados!</p>
<% } %>
