<%- include('includes/header') %>
<%- include('includes/nav') %>

  <section id="main-container" class="container-fluid">
    <div class="col-md-12">
      <div class="mensages">
        <%- include('includes/messages') %>
      </div>
    </div>
    <h2 class="section-title">Dashboard</h2>
    <p class="page-description">Adicione ou atualize as informações do filme que você enviou.</p>

    <div class="col-md-12" id="add-movie--container">
      <a href="/newmovie" class="btn card-btn">
        <i class="fas fa-plus"></i> Adicionar Filme
      </a>
    </div>

    <!-- table edit movie -->
    <div class="col-md-12" id="movies-dashboard">
      <table class="table">
        <thead>
          <th scope="col">#</th>
          <th scope="col">Título</th>
          <th scope="col">Nota</th>
          <th scope="col" class="actions-column">Ações</th>
        </thead>

        <tbody>
          <% movies.forEach(movie => { %>
          <tr>
            <td scolpe="row">#</td>
            <td>
              <a href="/movie?id=<%= movie._id %>" class="table-movie--title"><%= movie.title %></a>
            </td>
            <td><i class="fas fa-star"></i> 9</td>
            <td class="actions-column">
              <a href="/dashboard/edit/<%= movie._id %>" class="edit-btn">
                <i class="far fa-edit"></i> Editar
              </a>
              <form action="/delete/<%= movie._id %>" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="delete-btn">
                  <i class="fas fa-times"></i> Deletar
                </button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>


  </section>

<%- include('includes/footer') %>
