<%- include('includes/header') %>
<%- include('includes/nav') %>

  <section id="main-container" class="container-fluid">
    <div class="col-md-12">
      <div class="mensages">
        <%- include('includes/messages') %>
      </div>
    </div>

    <h2 class="section-title">Filmes novos</h2>
    <p class="section-description">Veja as críticas dos últimos filmes adicionados no MovieStar</p>
    <div class="movies-container">
      <%- include('includes/movieCard') %>
    </div>

    <h2 class="section-title">Ação</h2>
    <p class="section-description">Veja os melhores filmes de ação.</p>
    <div class="movies-container">
      <%- include('includes/movieAcao') %>
    </div>

    <h2 class="section-title">Comédia</h2>
    <p class="section-description">Veja os melhores filmes de comédia.</p>
    <div class="movies-container">
      <%- include('includes/movieComedia') %>
    </div>

    <h2 class="section-title">Drama</h2>
    <p class="section-description">Veja os melhores filmes de Drama.</p>
    <div class="movies-container">
      <%- include('includes/movieDrama') %>
    </div>

    <h2 class="section-title">Ficção / Fantasia</h2>
    <p class="section-description">Veja os melhores filmes de Ficção / Fantasia.</p>
    <div class="movies-container">
      <%- include('includes/movieFiccao') %>
    </div>

    <h2 class="section-title">Romance</h2>
    <p class="section-description">Veja os melhores filmes de Romance.</p>
    <div class="movies-container">
      <%- include('includes/movieRomance') %>
    </div>


  </section>

<%- include('includes/footer') %>

