<%- include('includes/header') %>
<%- include('includes/nav') %>

  <section id="main-container" class="container-fluid">
    <div class="col-md-12">
      <div class="mensages">
        <%- include('includes/messages') %>
      </div>
    </div>
    <%= console.log(movie)%>
    <h2>Movie</h2>


  </section>

<%- include('includes/footer') %>

